:root{  /** Configura Variaveis com cores para o site */
    --vermelho:#E50914;
    --preta:#141414;
    --amarelo:#ffff00;
}

*{ /** Configura alinhamento da página para qualquer navegador */
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--preta);
    /* font-family: Arial, Helvetica, sans-serif; */
    color:white;
}

header .container{ /** Configura variavel container */
    display: flex; /** Alinha texto na parte direita da tela */
    flex-direction: row; /** Linha padrão mesmo não adicionada ela não altera o código */
    align-items: center; /** Alinha texto ao centro da caixa */
    justify-content: space-between; /** Adiciona espacamento */
}


/* TEXTO DIRETA DO SITE */
nav a{
    color:#aaa;
    text-decoration: none;
    margin-right: 10px; /* Informa o tamanho que tera o texto */
    font-family: Arial, Helvetica, sans-serif;
}

header nav a:hover{ /* Comando quando for passado o mouse emcima */
    color:#fff; /* Informa a cor que será mostrada quando passar o mouse emcima */
}

header .logo{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--vermelho);
    font-size: 40px;
    margin-left: 5px;
}

.info-filme{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa2.jpg'); /* Adiciona capa de fundo */
    height: 500px; /* tamanho da imagem */
    background-size: cover; /* Ajusta imagem ao tamanho da "Caixa" */


    display: flex; /* TOrna a caixa FLEX */
    flex-direction: column; /* Configura para alinhar em colunas */
    justify-content: center; /* Alinhas elementos ao centro linear */
    align-items: flex-start; /* Alinha elementos a esqueda/direita */

}

.info-filme .info{
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 15px;
    
    
    
}

.info-filme .titulo{
    font-size: 40px;
    margin-left: 15px;
    color: var(--amarelo);
}

.botao{
    margin-left: 15px;
    background-color: rgba(0,0,0,0.50); /* cria efeito nos botões */
    border:none; /* Retira borda de um retangulo */
    color: white;
    text-decoration: none;
    font-size: arial;

    padding: 15px 30px; /* Ajusta ditancia da caixa */
    font-size: 12px; /* ajusta tamanho da fonte */
    cursor: pointer; /* Altera o cursor para ponteiro */
    transition: .3s ease all; /* Cria transição de 3seg sobre o proximo efeito */
}

.botao:hover{ /* Quando usuário passar o mouse */
    background-color: white; /* Altera fundo para branco */
    color:black; /* Altera letras para preto */
    
}

.botao i{ /* Altera margem de icone no botão */
    margin-right: 8px;
}


.container{
    margin-left: 20px;
}

.info-filme .container{ /* Alinha espaçamento da caixa somente no container dentro da clase filme principal */
    width: 80%;
}

.box-elenco{ /* Configuração imagem owl carrossel */

    height: 100%;
    width: 100%;
    display: box;
    justify-content: center;
    align-items: center;
}

.item:hover{
    background-color: var(--preta);
    color:var(--amarelo)
}

.text-elenco{
    /*align-items: center;*/
    /*margin-left: center;*/
    margin-top: 0px;
    /*margin-right: 30%;*/
    text-align: center;
}

/*.text-elenco:hover{
    background-color: var(--preta);
    color:var(--amarelo)
}*/

.carrosel-elenco{ /* Afasta carrosel do filme principal */
    margin-top: 5px;
}